---
ColumnLimit: 128
AccessModifierOffset: 0
UseTab: Never
Standard: Latest
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
  AfterControlStatements: true
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCaseColon: true
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: true
SpaceAfterLogicalNot: true
SeparateDefinitionBlocks: Leave
RequiresExpressionIndentation: Keyword
RequiresClausePosition: OwnLineWithBrace
RemoveSemicolon: true
RemoveParentheses: Leave
RemoveBracesLLVM: true
ReferenceAlignment: Pointer
PointerAlignment: Left
PackConstructorInitializers: CurrentLine
PPIndentWidth: 2
NamespaceIndentation: All
MaxEmptyLinesToKeep: 1
Language: Cpp
LambdaBodyIndentation: Signature
IntegerLiteralSeparator:
  Binary: 4
  BinaryMinDigits: 8
  Decimal: 3
  DecimalMinDigits: 6
IndentRequiresClause: true
IndentWidth: 2
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
IndentCaseBlocks: true
IndentAccessModifiers: false
FixNamespaceComments: false
ExperimentalAutoDetectBinPacking: true
EmptyLineBeforeAccessModifier: Always
BreakTemplateDeclarations: Yes
BreakFunctionDefinitionParameters: false
BreakBeforeConceptDeclarations: Always
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BitFieldColonSpacing: Both
BinPackParameters: true
BinPackArguments: true
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortCompoundRequirementOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AlignOperands: AlignAfterOperator
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
BracedInitializerIndentWidth: 0
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 0
ReflowComments: false
PenaltyBreakOpenParenthesis: 10
PenaltyExcessCharacter: 10
PenaltyReturnTypeOnItsOwnLine: 10